

@media screen and ( max-width: 600px ) {
body {
  font-size: 80%;
  }
}

#header {
  display: flex;
  flex-direction: column;
}


/*header*/


header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

#logo {
  width: 10%;
  height: fit-content;
}


h1 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

#Contactez-moi {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 3px 15px 3px 15px;
}

@keyframes lien {
  from {
      color:#ff6633;
  }
  to {
      color: rgb(189, 182, 38);
  }
}

a {
  text-decoration: none;
  color: #ff6633;
}

a:hover {
  animation: lien 0.5 forwards;
}




/*aside*/


aside {
  display: flex;
  justify-content: center;
}

@keyframes grossi {
    from {
        width: 89px;
    }
    to {
        width: 110px;
    }
}

#portfolio:hover {
  animation:grossi 0.5s forwards;
  }

#portfolio {
    cursor: pointer;
    width: 89px;
    padding-right: 10px;
  }




/*PARTIE 1*/


#conteneur-principal {
  background-color: black;
  color:white;
}

h2 {
  font-size: 40px;
  color:#ff6633; 
}

#intro {
  display: flex;
  flex-direction: row;
}

#je-suis {
  display: flex;
  justify-content: center;
  font-size: 40px;
    position: relative;
    bottom: -44px;
    margin-bottom: 0px;
}

#je-suis h2 { 
  background-color: black;
  padding: 0px 20px 0px 20px; 
}

p {
  font-size: medium;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:13px;
    font-style: normal;
  }

  #biographie {
    padding: 30px;
    outline: 1px white solid;
  }


    #vid-bio {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    #video-border {
      outline: 1px white solid;
      padding: 30px
    }

    #vid-bio div {
      width: 50%;
      border-bottom: 10px white solid;
    }

    #mes-forces {
      background-color: black;
      width: 90%; 
    }
 


    /*PARTIE 2*/


#texte-d-action {
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pourquoi-me-choisir {
    break-inside: avoid;
    padding-left: 15px; 
}

#me-choisir {
  padding: 0px 15px 0px 15px;
}




/*footer*/

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: medium;
}

#texte-footer {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 3px 15px 3px 15px;
}